    .custom-nav-font-size {
        font-size: 200%;
    }
    
    .fix-comic-cover-page {
        width: 50%;
        height: auto;
    }
    
    .pad-top {
        padding-top: 8px;
    }
    
    .pad-top-2 {
        padding-top: 13px;
    }
    
    .pad-top-10 {
        padding-top: 10px;
    }
    
    .divider-3 {
        height: 3px;
        overflow: hidden;
        background-color: #fff;
    }
    
    .backgroud {
        background-color: #fafafa;
    }
    
    .max-height {
        height: 100%;
    }
    
    .body-background-color {
        background-color: white;
    }
    
    .custom-card {
        position: relative;
        margin: 0.5rem 0 1rem 0;
        background-color: #fff;
        transition: box-shadow .25s;
        border-radius: 2px;
    }