<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- Home page Servlet -->
    <servlet>
        <servlet-name>homepage</servlet-name>
        <servlet-class>com.digitalconeptions.www.HomePageServlet</servlet-class>
    </servlet>
    <!-- Genre Page Servlet -->
    <servlet>
        <servlet-name>genreservlet</servlet-name>
        <servlet-class>com.digitalconeptions.www.GenreServlet</servlet-class>
    </servlet>
    <!-- Search Page Servlet -->
    <servlet>
        <servlet-name>searchservlet</servlet-name>
        <servlet-class>com.digitalconeptions.www.SearchPageServlet</servlet-class>
    </servlet>
    <!-- User Profile Servlet -->
    <servlet>
        <servlet-name>userprofileservlet</servlet-name>
        <servlet-class>com.digitalconeptions.www.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userservice</servlet-name>
        <servlet-class>com.digitalconeptions.www.UserServiceServlet</servlet-class>
    </servlet>
    <!-- Upload Servlet -->
    <servlet>
        <servlet-name>creationpageservlet</servlet-name>
        <servlet-class>com.digitalconeptions.www.CreationServlet</servlet-class>
    </servlet>
    <!-- Comic Servlet -->
    <servlet>
        <servlet-name>comicservlet</servlet-name>
        <servlet-class>com.digitalconeptions.www.ComicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editimageservlet</servlet-name>
        <servlet-class>com.digitalconeptions.www.EditImagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCanvasServlet</servlet-name>
        <servlet-class>com.digitalconeptions.www.SaveCanvasServlet</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>homepage</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genreservlet</servlet-name>
        <url-pattern>/genre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchservlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userprofileservlet</servlet-name>
        <url-pattern>/userprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creationpageservlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comicservlet</servlet-name>
        <url-pattern>/comic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editimageservlet</servlet-name>
        <url-pattern>/editimages</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>userservice</servlet-name>
        <url-pattern>/usersignin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userservice</servlet-name>
        <url-pattern>/usersignout</url-pattern>
    </servlet-mapping>


    
    <!-- JSP Servlet Mappings -->
    <!--<servlet>-->
        <!--<servlet-name>home</servlet-name>-->
        <!--<jsp-file>index.jsp</jsp-file>-->
    <!--</servlet>-->
    <!--<servlet>-->
        <!--<servlet-name>profile</servlet-name>-->
        <!--<jsp-file>user_profile.jsp</jsp-file>-->
    <!--</servlet>-->
    <!--<servlet>-->
        <!--<servlet-name>genres</servlet-name>-->
        <!--<jsp-file>genre.jsp</jsp-file>-->
    <!--</servlet>-->
    <!--<servlet>-->
        <!--<servlet-name>results</servlet-name>-->
        <!--<jsp-file>search.jsp</jsp-file>-->
    <!--</servlet>-->

    <!--<welcome-file-list>-->
        <!--<welcome-file>home</welcome-file>-->
        <!--&lt;!&ndash;<welcome-file>homepage</welcome-file>&ndash;&gt;-->
        <!--&lt;!&ndash;<welcome-file>index.jsp</welcome-file>&ndash;&gt;-->
    <!--</welcome-file-list>-->

    <!-- Mappings for JSP files-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>home</servlet-name>-->
        <!--<url-pattern>/home</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>profile</servlet-name>-->
        <!--<url-pattern>/profile</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>genres</servlet-name>-->
        <!--<url-pattern>/genres/*</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>results</servlet-name>-->
        <!--<url-pattern>results/*</url-pattern>-->
    <!--</servlet-mapping>-->

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.digitalconeptions.www.OfyHelper</listener-class>
    </listener>
</web-app>
