<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- Home page Servlet -->
    <servlet>
        <servlet-name>homepage</servlet-name>
        <servlet-class>com.digitalconeptions.www.HomePageServlet</servlet-class>
    </servlet>
    <!-- Genre Page Servlet -->
    <servlet>
        <servlet-name>genreservlet</servlet-name>
        <servlet-class>com.digitalconeptions.www.GenreServlet</servlet-class>
    </servlet>
    <!-- Search Page Servlet -->
    <servlet>
        <servlet-name>searchservlet</servlet-name>
        <servlet-class>com.digitalconeptions.www.SearchPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userservice</servlet-name>
        <servlet-class>com.digitalconeptions.www.UserServiceServlet</servlet-class>
    </servlet>


    <!-- JSP Servlet Mappings -->
    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <jsp-file>userprofile.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>genres</servlet-name>
        <jsp-file>genre.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <jsp-file>search.jsp</jsp-file>
    </servlet>


    <!-- Servlet Mapping for the home page -->
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genreservlet</servlet-name>
        <url-pattern>/genre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchservlet</servlet-name>
        <url-pattern>/searchquery</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>userservice</servlet-name>
        <url-pattern>/usersignin</url-pattern>
    </servlet-mapping>

    <!-- Mappings for JSP files-->
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homepage</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genres</servlet-name>
        <url-pattern>genres/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>search/*</url-pattern>
    </servlet-mapping>


</web-app>
