<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- Home page Servlet -->
    <servlet>
        <servlet-name>homepage</servlet-name>
        <servlet-class>com.digitalconeptions.www.HomePageServlet</servlet-class>
    </servlet>
    <!-- Genre Page Servlet -->
    <servlet>
        <servlet-name>genreservlet</servlet-name>
        <servlet-class>com.digitalconeptions.www.GenreServlet</servlet-class>
    </servlet>
    <!-- Search Page Servlet -->
    <servlet>
        <servlet-name>searchservlet</servlet-name>
        <servlet-class>com.digitalconeptions.www.SearchPageServlet</servlet-class>
    </servlet>
    <!-- User Profile Servlet -->
    <servlet>
        <servlet-name>userprofileservlet</servlet-name>
        <servlet-class>com.digitalconeptions.www.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userservice</servlet-name>
        <servlet-class>com.digitalconeptions.www.UserServiceServlet</servlet-class>
    </servlet>
    <!-- Upload Servlet -->
    <servlet>
        <servlet-name>creationpageservlet</servlet-name>
        <servlet-class>com.digitalconeptions.www.CreationServlet</servlet-class>
    </servlet>
    <!-- Comic Servlet -->
    <servlet>
        <servlet-name>comicservlet</servlet-name>
        <servlet-class>com.digitalconeptions.www.ComicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editimageservlet</servlet-name>
        <servlet-class>com.digitalconeptions.www.EditImagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>canvasservlet</servlet-name>
        <servlet-class>com.digitalconeptions.www.SaveCanvasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifycomicinfoservlet</servlet-name>
        <servlet-class>com.digitalconeptions.www.ModifyComicInfoServlet</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>homepage</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genreservlet</servlet-name>
        <url-pattern>/genre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchservlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userprofileservlet</servlet-name>
        <url-pattern>/userprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creationpageservlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comicservlet</servlet-name>
        <url-pattern>/comic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editimageservlet</servlet-name>
        <url-pattern>/editimages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifycomicinfoservlet</servlet-name>
        <url-pattern>/modifycomicinfo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>userservice</servlet-name>
        <url-pattern>/usersignin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userservice</servlet-name>
        <url-pattern>/usersignout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>canvasservlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.digitalconeptions.www.OfyHelper</listener-class>
    </listener>


    <!-- Chat box -->
    <servlet>
        <servlet-name>ChannelBuilder</servlet-name>
        <servlet-class>chat.ChannelBuilderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChannelBuilder</servlet-name>
        <url-pattern>/buildchannel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Generator</servlet-name>
        <servlet-class>chat.SendMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Generator</servlet-name>
        <url-pattern>/generatemessage</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>connection</servlet-name>
        <servlet-class>chat.ConnectionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>connection</servlet-name>
        <url-pattern>/_ah/channel/connected/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>disconnection</servlet-name>
        <servlet-class>chat.DisconnectionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>disconnection</servlet-name>
        <url-pattern>/_ah/channel/disconnected/</url-pattern>
    </servlet-mapping>


</web-app>
